@using PagedList.Mvc
@using PagedList
@model IPagedList<MyBlog.Models.Questions>

@{
    ViewBag.Title = "Sorular";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Sorular</h2>

<div class="container down col-md-11">

    @using (Html.BeginForm("Questions", "Questions", FormMethod.Get))
    {

        <p>
            Find by name: @Html.TextBox("SearchString")
            <input type="hidden" name="searchstring" value="@ViewBag.searchstring" />
            <input type="submit" value="Search" />

        </p>
    }

    @foreach (var item in Model)
    {
        <div class="panel panel-danger">
            <div class="panel-heading">
                @Html.ActionLink(item.Title, "Detay", new { id = item.ID, Controller = "Questions" })
            <div class="pull-right">
                @Html.DisplayFor(modelItem => item.EMail)
            </div>
        </div>
        @{
            var summary = item.Question;
            if (item.Question.Length > 100)
            {
                summary = item.Question.Substring(0, 100);
            }
            <div class="panel-body">
                @Html.DisplayFor(modelItem => @summary)
                <br />
                <div class="pull-right">
                    <i>
                        @Html.DisplayFor(modelItem => item.Name)
                        @Html.DisplayFor(modelItem => item.Surname)
                        @Html.DisplayFor(modelItem => item.Date)
                    </i>
                    <br />
                    <div class="pull-right">
                        @Html.ActionLink("Detay", "Detay", new { Controller = "Questions", id = item.ID }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Sil", "Delete", new { Controller = "Questions", id = item.ID }, new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>
        }
    </div>
            }
    <div class="pagedList">
        @Html.PagedListPager(Model, page => Url.Action("Questions", new { page, searchstring = ViewBag.searchstring }), PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>

</div>